body{
    display: flex;
    justify-content: center;
    
}

h1{
    text-align: center;
    font-weight: lighter;
}

.container{
    width: 20em;
    margin-top: 2em;
    width: 18em;
}

.input_container{
height: 10em;
background: linear-gradient(0deg, rgba(34,195,150,1) 0%, rgba(239,45,253,1) 100%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.out_container{
height: 10em;
background: linear-gradient(0deg, rgba(34,195,150,1) 0%, rgba(239,45,253,1) 100%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
word-break: break-all;
}

input{
    height: 3em;
    width: 5em;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}